@charset "UTF-8";
@import "formstyle.scss";
.pedosite {
    margin-top: 250px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

#iconsdiv {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}



/* icones */
.faIcons {
    text-align: right;
    margin-right: 5px;
    font-size: 30px;        
    color: tan;
    }
    
/* Copy button interface */
.copybutton{
    color: $primarycolor;

}
.copybutton:hover{
    color: grey;
}

.emailcontainer{
    color: $primarycolor;
    margin-top: 10px;
    span {
        font-size: 19px;
        background-color: $primarycolor;
        color: black;
        border: solid 2px black;
        border-radius: 4px;
        padding: 4px 8px;
    }
    button {
        background-color: transparent;
        font-size: 20px;
        border: none;
        cursor: pointer;
        position: relative;
        i
        {
            color: $primarycolor;
            transition: 0.3s;
        }
        i:hover {
            color: grey;
            transform: translateY(-4px);
        }
    }

}
