<!DOCTYPE html>
<html lang="pt-br">

{% extends "base.html" %}

{% block base %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Login</title>

    <!--css import-->
    <!--Load statics-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'formstyle.css' %}">


    <style>
        h1 {
            margin-top: 100px;
            font-size: 40px;
            color: tan;
        }
        h2{margin-top: 100px;
            font-size: 30px;
            color: tan;
        }
        p{
            font-size: 15px;
            color: tan;
        }
    </style>

</head>

<header>
</header>
<body id="formbody">
    
    
    <script>
        const tela_largura = window.innerWidth
        const tela_altura =window.innerHeight
        
        const middleX = tela_largura / 2
        const middleY = tela_altura / 2
        </script>




<!-- # Titulo-->
    <h1>Login</h1>
     <!--info -->
     <h2>Faça login na Loja</h2>

    
   
    <!-- #start div -->
    <div id="formdiv">

        

    <!--Start form-->
    <form id="forms" action="menu.html"  method="post">
        <!--Start label and inputs-->
    
        <div class="input">
            <input class="input__field"   type="email" id="Email"  maxlength="100" required><br>
            <label class="input__label" for="email">Email</label>
        </div>

       
        <div class="input">
            <input  class="input__field"  type="password" id="password" minlength="6" maxlength="30" required> <br>
            <label  class="input__label"  for="password" >Senha</label>
        </div>


        <input id="loginbutton" type="submit" value="Login">


        <p>No account?<a href="signup.html" style="color: tan;"> Create One</a></p>
    </form>

    </div>


</body>
{% endblock %}
</html>