<!DOCTYPE html>
<html lang="pt-br">

{% extends 'base.html' %}
{% block base %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--    css link -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'formstyle.css' %}">

   

</head>
<!--body-->
<body id="formbody">
    <!-- Adcionado patterns (\d = Digitos de 0-9) (\s = Espaco vazio) (? = caracter informado antes opcional)-->
    
    <!-- # Titulo-->
    <h1>Cadastro</h1>
        <!-- Info -->
    <h2>Crie sua conta na Loja</h2>

    <!-- Starting divisao para criar form -->
    <div id="formdiv">

        <!--Forms #forms-->
        <form id="forms" action="signup2" method="post" onsubmit=" return ValidateForm()">
    
            <div class="input">
            <!--labels and inputs-->
                <input class="input__field" type="text" id="primeiro nome" minlength="3" maxlength="25" required>
                <label class="input__label" for="Nome">Primeiro nome</label>
            </div>

            <div class="input">
                <input class="input__field" type="text" id="last_name" minlength="3"  maxlength="25" required>
                <label class="input__label" for="sobrenome" >Sobrenome</label>
            </div>
            
            <!--Butão enviar-->
            <input id="loginbutton" class="submit-button"  type="submit" value="next">

        </form>
    </div>
</body>

{% endblock %}

</html>
