<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
  <!--  linking and stuff-->
    <!-- Stylesheet - fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    {% load static %}
    
    <!--  Website favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}" type="image/x-icon">
    
    <!--  css link-->
    <link rel="stylesheet" href="{% static 'formstyle.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portifolio</title>

    <style>
        
    body {
        background-color: rgb(0, 0, 0);
    }
    footer {
        color: aliceblue;
    }
    hr {
        color: black;
    }
    .fa-envelope
    {
        color: beige;
        margin-left: 5px;
    }
    
    </style>

<!-- # Cabecalho -->
    <div>
        <h1 class="header">LOJA (seu icone aqui)</h1>
        <div id="iconsdiv">
        <!-- # Opcoes mid top-->
        <a class="faIcons" href=""><i class="fa-solid fa-house-chimney"></i></a>
        <a class="faIcons" href="{% url 'login:login_view' %}"><i  class="fa-solid fa-arrow-right-to-bracket"></i></a>
        <a class="faIcons" href="{% url 'cadastro:signupview1' %}"><i class="fa-solid fa-user-plus"></i></a></div>
        </div>
    </div>
    <!-- # Menu lateral opcoes -->



</head>

<body>
    <br>
    <hr>

    

{% block basebody %}


{% endblock %}

</body>


<!-- # Pe do site-->
<footer class="pedosite">
    <hr>
        Author: Diego Cheib / Roberto Fernandino <br>
        &copy; Copyright Reserved <br>
        <div class="emailcontainer">
        <i  class="fa-solid fa-envelope"></i>
        <span> diegocheib@gmail.com</span>
        <button><i class="fa-regular fa-copy"></i></button>
        </div>

        <div class="emailcontainer">
            <i class="fa-solid fa-envelope"></i>
            <span> romfernandno@gmail.com </span>
        <button ><i class="fa-regular fa-copy"></i></button>

        </div>

    </footer>
</html>