{% extends 'base.html' %}    
{% block basebody %}
<!--body-->
<body id="formbody">
    <!-- Adcionado patterns (\d = Digitos de 0-9) (\s = Espaco vazio) (? = caracter informado antes opcional)-->
    
    <!-- # Titulo-->
    <h1>Cadastro</h1>
        <!-- Info -->
    <h2>Crie sua conta na Loja</h2>

    <!-- Starting divisao para criar form -->
    <div id="formdiv">

        <!--Forms #forms-->
        <form id="forms" action="{% url 'users:second_signup_form' %}" method="post">
            <!--Obrigatorio para forms-->
            {% csrf_token %}

            <div class="input">
            <!--labels and inputs-->
                {{ nomeinput }}
                <label class="input__label" for="Nome">Primeiro nome</label>
            </div>

            <div class="input">
                {{ sobrenomeinput }}
                <label class="input__label" for="sobrenome" >Sobrenome</label>
            </div>
            
            <!--Butão enviar-->
            <input id="loginbutton" class="submit-button"  type="submit" value="next">

        </form>
    </div>
</body>    
    {% endblock %}


