
{% extends 'base.html' %}

{% block basebody %}
<body id="formbody" style="background-color: black;">
    
    <!-- # Titulo-->
    <h1>Cadastro</h1>
    
    
    <!-- Info -->
    <p>
        Crie sua conta na Loja
    </p>
    
    <div id="formdiv">

        
        <!--Forms #forms-->
        <form id="forms" action="{% url 'cadastro:signupview2' %}" method="post">
            
            <!--local de escrita do email-->
            <div class="input">
                <input class="input__field "type="email" name="email" maxlength="100" required><br>
                <label class="input__label" for="email">Email:</label>
            </div>
            
            <div class="input">
                <input   class="input__field"  type="password" name="password"  minlength="6" maxlength="30" required> <br>
                <label class="input__label"  for="password">Senha:</label>
            </div>

            <div class="input">
                <input  class="input__field"   type="tel" name="phone" pattern="\d{2,3}\s?\d{9}"minlength="11" required><br>
                <label class="input__label"  for="phone">Numero de telefone:</label>
            </div>
            
            <div class="input">
                <label  id="formlabel"for="dataDeNascimento" name="nascimento" style="font-size: 15px;">Data de nascimento:</label>
                <input id="forminput" type="date" id="dbay" required><br>
            </div>
            
            <div class="input">
                <input  class="input__field"   type="text" name="cpf" minlength="11" pattern="\d{3}.?\d{3}.?\d{3}-?\d{2}" required> <br><br>
                <label class="input__label"  for="cpf" >cpf:</label>
            </div>
            
            <!--Butão enviar-->
            <input id="loginbutton" style="background-color:tan;"  type="submit" value="next">

        </form>
    </div>
    
</body>
{% endblock %}
